*{
    margin: 0%;
    padding: 0%;
    background-color:lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-style: italic;
    font-size: xx-large;
    margin-top: 50px;
}

.hr1{
    margin-top: 20px;
    width: 10%;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

label{
    font-size: 20px;
    margin-left: 10%;
    color:rgb(2, 2, 41);
    opacity: 20;
    text-shadow: 2px 2px 4px white;
    margin-bottom: 5px;
}

input{
    font-size: 20px;
    width: 80%;
    background: transparent;
    color: black;
    
    margin-bottom: 20px;
}


.topnav{
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    align-content: space-around;
  }
  
a{
    text-decoration: none;
    color: black;
}

footer{
    margin-top: 2%;
    margin-bottom: 2%;
    font-style: italic;
}
  
.ft{
    margin-top: 2%;
}

h1{
    font-size: xx-large;
    margin-top: 2%;
}
  
h4{
    margin-bottom: 2%;
    font-style: italic;
}

textarea{
    margin-right: 20%;
    margin-bottom: 2%;
}

.button{
    margin-right: 20%;
    align-self: center;
    width: 20%;
    background-color: aqua;
    color: black;
}